.bloco1 {
    float: left;
    margin: 0 auto;
    width: 250px;
    height: 260px;
    background-color: rgb(255, 119, 119);
    border: 1px solid black;
    margin: 0 auto;
}

.bloco2 {
    float: right;
    margin: 0 auto;
    width: 250px;
    height: 260px;
    border: 1px solid black;
    background-color: rgb(145, 215, 255);
}
.bloco3 {
    float: left;
    margin: 0 auto;
    width: 250px;
    height: 260px;
    border: 1px solid black;
    background-color: rgb(157, 255, 157);
}
.bloco4 {
    float: right;
    margin: 0 auto;
    width: 250px;
    height: 260px;
    border: 1px solid black;
    background-color: rgb(255, 255, 197)
}
.bloco5 {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    clear: both;
    border: 1px solid black;
    background-color: white;
}
.texto{
    font-weight: bold;
    text-align: center;
    margin: 90px;
    font-size: x-large;
}
.bloco1 img{
    width: 230px; 
    height: 230px;
    text-align: center;
    padding:7px;
}
.bloco2 img{
    width: 230px; 
    height: 230px;
    text-align: center;
    padding:7px;
}
.bloco3 img{
    width: 230px; 
    height: 230px;
    text-align: center;
    padding:7px;
}
.bloco4 img{
    width: 230px; 
    height: 230px;
    text-align: center;
    padding:7px;
}